<h1 class="text-center">Gerador de Números Aleatórios</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="min">Valor mínimo:</label>
          <input type="number" id="min" name="min" [(ngModel)]="min" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="max">Valor máximo:</label>
          <input type="number" id="max" name="max" [(ngModel)]="max" class="form-control" required>
        </div>
        <button type="button" class="btn btn-primary" (click)="generateRandomNumber()">Gerar Número</button>
      </form>
    </div>
  </div>
  <div *ngIf="randomNumber !== null" class="row justify-content-center">
    <div class="col-md-6">
      <p class="mt-3 numero-gerado">Número Aleatório: <b> {{ randomNumber }}</b></p>
    </div>
  </div>
</div>
